.env
.venv
env/
venv/
ENV/
envs/
*.log
*.list
*cache*
distances.json
routing_solution*
custom_files/
maria_db_data/
**/config/defaults_dev.py
/config/defaults_dev.py
*.tar
detailedLogs.csv
/matrix_distance_cache